@import "global.css";

section {
  width: 90%;
  margin: 0 var(--margin-autocenter);
}

/*--- PROFILE PIC & NAME ---*/

.profile {
  display: var(--display-flex);
  justify-content: space-around;
  align-items: center;
  margin: 2rem var(--margin-autocenter) 0;
}

.profile-pic {
  background-color: var(--color-card-bg);
  border: 0.15rem dashed var(--color-text-secondary);
}

.profile svg {
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}

/*--- PROFILE ABOUT ---*/

.profile-about {
  display: var(--display-flex);
  flex-direction: column;
  align-items: var(--flex-start);
  justify-content: var(--flex-start);
  margin: 1rem 0 2rem;
}

.profile-about p {
  margin-top: 0;
}

/*--- PROFILE COUNTERS ---*/

.profile-counters {
  display: var(--display-flex);
  justify-content: space-around;
  margin: 1.5rem 0;
}

.profile-counters span {
  display: var(--display-flex);
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.profile-counters-container {
  border: 0.15rem dashed var(--color-text-secondary);
}

.profile-counters img {
  width: 2rem;
}

/*--- PROFILE SETTINGS ---*/

.profile-settings {
  display: var(--display-flex);
  flex-direction: column;
  align-items: var(--flex-start);
  justify-content: var(--flex-start);
  margin-bottom: 3rem;
}

.light-mode-toggle {
  display: var(--display-flex);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-about h3,
.profile-settings h3 {
  margin: 1rem 0;
}

/*---DARKMODE SLIDER---*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-card-bg);
  border: 0.15rem dashed var(--color-text-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 4px;
  bottom: 4px;
  top: 4px;
  background-color: var(--color-text-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-border);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-border);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
