@import "/mobile-quiz/global.css";
@import "/mobile-quiz/profile.css";

body {
  min-height: 100vh;
  max-width: 390px;
  background-color: var(--color-main);
  border: 0.15rem dashed var(--color-border);
  color: var(--color-text-primary);
  margin: 0 auto;
  font-family: var(--font-primary);
  font-weight: 400;
  display: var(--display-flex);
  flex-direction: column;
}

/*---MAIN---*/

h1,
h2,
h3,
li {
  text-align: var(--textalign-center);
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

main {
  width: 390px;
  flex: 1;
}

header {
  background-color: var(--color-card-bg);
  border-bottom: 0.15rem dashed var(--color-border);
  position: sticky;
  top: 0;
  padding: 1rem 0;
}

/*---CARD---*/

.card {
  border: 0.15rem dashed var(--color-border);
  background-color: var(--color-card-bg);
  display: var(--display-flex);
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 2rem var(--margin-autocenter);
}

.bookmark-container {
  display: var(--display-flex);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

button.bookmark {
  cursor: var(--cursor-pointer);
}

.bookmark {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-style: none;
  margin: 0.25rem;
  width: 3rem;
  height: 3rem;
  transition: background-image 0.5s ease;
}

.bookmark-unsaved {
  background-image: url("/mobile-quiz/assets/heart-unselect.png");
}

.bookmark-saved {
  background-image: url("/mobile-quiz/assets/heart-unselect2.png");
}

.bookmark:hover {
  background-image: url("/mobile-quiz/assets/heart-main.png");
}

.bookmark img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.question {
  margin: 0 1.5rem 1.5rem;
}

/*---SHOW/HIDE BUTTON---*/

.btn {
  border: 0.15rem dashed var(--color-text-secondary);
  padding: 0.75rem 4.5rem;
  margin: 0 var(--margin-autocenter);
  transition: border-color 0.5s ease, color 0.5 ease;

}

.toggle-btn {
  display: var(--display-flex);
  flex-direction: column;
  align-content: center;
}

.btn:hover {
  border-color: var(--color-primary-accent);
  color: var(--color-primary-accent);
  cursor: var(--cursor-pointer);
}


.answer {
  display: var(--display-none);
  margin-bottom: 1rem;
}
.hide-text {
  display: var(--display-none);
}
.toggle-input {
  display: var(--display-none);
}

.toggle-input:checked ~ .toggle-btn .answer {
  display: block;
}
.toggle-input:checked ~ .toggle-btn .show-text {
  display: var(--display-none);
}
.toggle-input:checked ~ .toggle-btn .hide-text {
  display: inline;
}

/*---TAGS---*/

.footer,
.tags {
  display: var(--display-flex);
  list-style: none;
}

.tags {
  margin: 2rem var(--margin-autocenter);
}

.tags li {
  border: 1px dashed var(--color-text-secondary);
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-card-bg);
  margin: 0 0.15rem;
}

.tags li:hover {
  border-color: var(--color-secondary-accent);
  color: var(--color-secondary-accent);
  cursor: var(--cursor-pointer);
}

/*---FOOTER---*/

footer {
  background-color: var(--color-card-bg);
  display: var(--display-flex);
  position: fixed;
  max-width: 390px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 0.15rem dashed var(--color-border);
}

footer nav {
  width: 100%;
}

footer ul {
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: var(--cursor-pointer);
}

footer ul li a {
  display: var(--display-flex);
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  height: 100%;
  width: 100%;
}

footer ul li img {
  width: 30%;
}

footer ul li {
  border: 0.15rem dashed var(--color-card-bg);
}

footer ul li.current {
  border-color: var(--color-text-secondary);
}

footer ul li:hover {
  border: 0.15rem dashed var(--color-primary-accent);
}
