@import "/mobile-quiz/global.css";
@import "/mobile-quiz/profile.css";

body {
  min-height: 100vh;
  max-width: 390px;
  border: 1px solid red;
  margin: 0 var(--margin-autocenter);
}

/*---MAIN---*/

h1,
h2,
h3,
li {
  text-align: var(--textalign-center);
}

main {
  border: 1px solid green;
  width: 390px;
}

/*---CARD---*/

.card {
  border: 1px solid purple;
  display: var(--display-flex);
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 2rem var(--margin-autocenter);
}

.bookmark {
  display: var(--display-flex);
  justify-content: flex-end;
  background-color: aqua;
}

/*---SHOW/HIDE BUTTON---*/

.btn {
  border: 1px dashed black;
  padding: 0.75rem 4.5rem;
  margin: 0 var(--margin-autocenter);
}

.toggle-btn {
  display: var(--display-flex);
  flex-direction: column;
  align-content: center;
}

.answer {
  display: none;
}
.hide-text {
  display: none;
}
.toggle-input {
  display: none;
}

.toggle-input:checked ~ .toggle-btn .answer {
  display: block;
}
.toggle-input:checked ~ .toggle-btn .show-text {
  display: none;
}
.toggle-input:checked ~ .toggle-btn .hide-text {
  display: inline;
}

/*---TAGS---*/

.footer,
.tags {
  display: var(--display-flex);
  list-style: none;
}

.tags {
  margin: 2rem var(--margin-autocenter);
}

.tags li {
  border: 1px dashed black;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: chartreuse;
  margin: 0 0.1rem;
}

/*---FOOTER---*/
footer {
  display: var(--display-flex);
  border: 1px solid orange;
  position: fixed;
  width: 390px;
}

footer ul {
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aqua;
}

footer ul li {
  border: 1px solid black;
}
